h1, h2{
  color: #feffc2;
  text-align: center;
}
body {
  color: #feffc2;
}
p{
  font-size: 120%;
}
.img > img {
  max-width: 100%;
  border: 2px solid white;
}
.flex-container {
  display: flex;
  gap: 2%;
}
ul{
  font-size: 200%;
}
a:link, a:visited{
  color: deepskyblue;
}
.container{
  display: flex;
  gap: 4%;
  align-items: center;
}
.cnt{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#conclusion{
  font-size: 30px;
  color: #feffc2;
}
h3 {
  text-align: center;
  font-size: 170%;
  color: lime;
}
.cont {
  display: flex;
  align-items: center;
  gap: 3%
}
.cont > #text{
  font-size: 120%;
  color: #feffc2;
  }
.c {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  gap: 5%;
}
.c > ul{
  font-size: 170%;
  color: #feffc2;
}
.contain {
  display: flex;
  max-width: 100%;
  justify-content: center;
  gap: 3%;
}
h4 {
  font-size: 200%;
  color: cyan;
}
.containerok {
  display: flex;
  max-width: 100%;
  justify-content: center;
  gap: 5%;
  color: #feffc2;
}
#Tonya {
  font-size: 300%;
  color: deeppink;
}
